* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100%;
    line-height: 1.2;
    max-width: 1000px;
    margin: 0 auto;
}
header{
    display: flex;
    align-items: center;
    
}

header div h2 {
    font-size: 300%;
    font-style: italic;
    color: steelblue;
    text-shadow: 2px 2px 15px grey;
}


a:link, a:visited {
    color: steelblue;
}

a:hover, a:active {
    color: maroon;
}

aside a{
    font-weight: bold;
}

aside a:visited{
    color: maroon;
}

h4 {
    font-weight: normal;
}