* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: lightsteelblue;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100%;
    line-height: 1.2;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    border: 3px solid steelblue;
    box-shadow: 5px 5px 12px 12px gray;
    background-color: white;
    
}
header{
    display: flex;
    align-items: center;
    border-bottom: 3px solid steelblue;
    background-image: linear-gradient(to left, steelblue, white);
}

header div h2 {
    font-size: 300%;
    font-style: italic;
    color: steelblue;
    text-shadow: 2px 2px 15px grey;
}


a:link, a:visited {
    color: steelblue;
}

a:hover, a:active {
    color: maroon;
}

aside a{
    font-weight: bold;
}

aside a:visited{
    color: maroon;
}

/*************************************************
**************************************************
Nav Menu
**************************************************
*************************************************/

#nav_menu {
    border-bottom: 3px solid steelblue;
    background-color: steelblue;
}
#nav_menu ul {
    list-style-type: none;
    position: relative; 
    display: flex;
}
#nav_menu li {
    width: 20%;
}
#nav_menu a {
    display: block;
    color: white;
    background-color: steelblue;
    text-align: center;
    padding: .7em 0;
    font-weight: bold;
    text-decoration: none;
    transition: all 600ms;
}

#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
}

#nav_menu ul ul li a {
    text-align: left;
    padding-left: .25em;
}

#nav_menu ul li:hover > ul {
    display: block;
}

#nav_menu a:hover {
    color: black;
    background-color: lightsteelblue;
}

/*************************************************
**************************************************
Nav List 
**************************************************
*************************************************/
#nav_list {
    margin-bottom: 20px;
}

#nav_list h2 {
    margin: 25px 0;
    text-align: center;
}

#nav_list ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}
#nav_list li {
    width: 90%;
    border: 1px solid steelblue;
    border-radius: 50vw;
}

#nav_list a {
    display: block;
    font-weight: bold;
    text-decoration: none;
    background-color: steelblue;
    padding: .5em;
    color: black;
    border-radius: 50vw;
    transition: all 600ms;
}

#nav_list a:hover {
    background-color: lightsteelblue;
    

}

.sidebarimages {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.sidebarimages img {
    max-width: 90%;
    border: 3px ridge steelblue;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px gray;
}

main {
    display: flex;
    
}

/*section {
    max-width: 70%;

}

aside {
    width: 30%;
} */

section {
    flex: 0 1 60%;
}
aside {
    flex: 0 1 20%
}

h1 {
    text-align: center;
    font-size: 300%;
    color: lightsteelblue;
    text-shadow: 1px 1px 2px black, -1px -1px 2px black, -1px 1px 2px black, 1px -1px 2px black;
}

section p {
    margin: 0 3% 20px;
}

blockquote {
    margin: 0 15% 20px;
    border-left: 8px solid steelblue;
    background-color: rgb(202, 220, 243);
    padding: 7px;
    border-radius: 0 50vh 50vh 0;
}

section h2, section h4, aside h2 {
    margin: 0 3% 20px;
}
aside h2 {
    margin-top: 25px;
    text-align: center;
}
aside ul {
    margin-left: 8%;
    padding-left: 5%;
    line-height: 1.5;
}


h4 {
    font-weight: normal;
}

section h4 {
    display: flex;
    align-items: center;
    gap: 10px;
}

section h4 a {
    text-decoration: none;
    font-size: 130%;
}

section h4 a:link, section h4 a:visited {
    color: black;
    font-weight: bold;
    transition: color 600ms;
}

section h4 a:hover {
    color: chocolate;
}

/*************************************************
**************************************************
Aside Right
**************************************************
*************************************************/

#right h2 {
    font-size: 100%;
    text-align: center;
    margin: 25px 0;
}

#right h3 {
    font-size: 120%;
}

#right p {
    font-size: 90%;
    margin: 15px 0 25px;
    padding-right: 10px;
}

footer {
    background-color: steelblue;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

footer p {
    padding: 20px 0;
    font-variant: small-caps;
}

/*Hide Mobile Menu*/
#mobilemenu {
    display: none;
}


/*************************************************
**************************************************
Media Queries
**************************************************
*************************************************/
@media only screen and (max-width: 933px) {
    body  {
        box-shadow: none;
        font-size: 90%;
    }
    main {
        flex-wrap: wrap;
    }
    #left{
        order: 2;
        flex: 0 1 90%;
    }
    section {
        flex: 0 1 70%;
    }
}
@media only screen and (max-width: 767px) {
    #nav_menu {
        display: none;
    }
    #mobilemenu {
        display: block;
    }
    .slicknav_menu {
        background-color: steelblue;
    }
    #mobilemenu a {
        color: white;
    }
    h1 {
        font-size: 200%;
    }
    main {
        flex-direction: column;
    }
    section, aside {
        max-width: 95%;
    }
    #right{
        order: 3;
    }
}

@media only screen and (max-width: 479px) {
    header {
        flex-direction: column;
    }
}